# --- OS Junk ---
.DS_Store
Thumbs.db
*.log

# --- Python (Backend) ---
# 1. Virtual Environments
venv/
env/
.venv/
/BACKEND/venv/

# 2. Bytecode
__pycache__/
*.py[cod]
*$py.class

# 3. Secrets
.env
BACKEND/.env

# --- Node.js (Frontend) ---
# 1. Dependencies
node_modules/
NLP_PROJECT_FRONTEND/node_modules/

# 2. Build Output
dist/
build/
NLP_PROJECT_FRONTEND/dist/

# 3. logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor Config
.vscode/
.idea/